---
layout: default
---

{% assign posts_count = paginator.posts | size %}

<div class="home">
<div style="margin-bottom: 25px;"><strong>WOLUST</strong> ist ein Acronym für <strong>Wo</strong>rmser <strong>L</strong>inux <strong>U</strong>ser <strong>S</strong>tamm<strong>t</strong>isch. Die Themen sind meist frei wählbar. Es geht um aktuelle Erfahrungen, beruflich, schulisch oder aus Hobby.<br />
Wenn Dich Linux interessiert, komm vorbei, setz Dich dazu !
</div>
<div style="float: right;"><img src="/images/tux-wolust.jpg" alt="Tux auf einem Biertisch" title="Der Tux ist immer dabei"/></div>

{% if posts_count > 0 %}
    <div class="posts">
      {% for post in paginator.posts %}
        <div class="post py3">
        <!--  <p class="post-meta">{{ post.date | date: site.date_format }}</p> -->
          <a href="{{ post.url | prepend: site.baseurl }}" class="post-link"><h3 class="h1 post-title">{{ post.title }}</h3></a>
          <span class="post-summary">
            {% if post.summary %}
              {{ post.summary }}
            {% else %}
              {{ post.excerpt }}
            {% endif %}
          </span>
        </div>
      {% endfor %}
    </div>

    {% include pagination.html %}
  {% else %}
    <h1 class='center'>{{ site.text.index.coming_soon }}</h1>
  {% endif %}
 
</div>

{% for treffen  in site.data.daten.linuxuser %}
 {% if treffen.meeting == "Nächstes Treffen" %}
    
<script type="application/ld+json">
{
  "@context": "http://schema.org",
  "@type": "Event",
  "name": "Wormser Linux User Stammtisch",
  "startDate": "{{treffen.jahr}}-{{treffen.monat}}-{{ treffen.tag }}T19:30-08",
  "location": {
    "@type": "Place",
    "name":"Worms Timescafe",
    "address": {
      "@type": "PostalAddress",
      "streetAddress": "Ludwigsplatz 1",
      "addressLocality": "Timescafe",
      "postalCode": "67547",
      "addressRegion": "RLP",
      "addressCountry": "De"
    }
  },
  "image": ["https://wolust.de/images/tux-wolust.jpg"
   ],
  "description": "Wormser Linux User treffen sich einmal im Monat. Wenn du Interesse an Linux hast, komm vorbei und setz dich dazu !",
  "endDate": "{{treffen.jahr}}-{{treffen.monat}}-{{ treffen.tag }}T23:00",
  "offers": {
    "@type": "Offer",
    "url": "https://www.wolust.de",
    "price": "0",
    "priceCurrency": "€",
    "availability": "http://schema.org/InStock",
    "validFrom": "2018-09-08T15:20"
  },
  "performer": {
    "@type": "PerformingGroup",
    "name": "Tux der Linux Pinguin"
  }
}
</script>  

{% endif %}
{% endfor %}
