---
title: index
layout: default
---

{% assign next = site.data.daten.linuxuser[0] %}
{% assign posts_count = paginator.posts | size %}

<div class="home">
  <div class="well">
  <strong>WOLUST</strong> ist ein Acronym für <strong>Wo</strong>rmser <strong>L</strong>inux <strong>U</strong>ser <strong>S</strong>tamm<strong>t</strong>isch. Die Themen sind meist frei wählbar. Es geht um aktuelle Erfahrungen, beruflich, schulisch oder aus Hobby. Wie alles begann: <a href="/linux_worms">tl;dr</a>.
   <br /> Wenn Dich Linux interessiert, komm vorbei, setz Dich dazu ! <br />

<img style="float: left;padding-right: 10px;"  src="/images/Linux_presentation_day.png" alt="Icon Linux Presentation day" title="Wir sind auf dem Wormser LPD 2022.2"/ />
<div style="clear: right">
<strong>Linux Presentation Day an der Hochschule Worms. 18.11.2022</strong><br />
15:00-18:00 Uhr. Wir sind dabei. <a title="Externer Link!" href="https://www.hs-worms.de/lpd-2022-2/">lesen</a>
</div>
   </div>


  <figure id="home_tux">
      <img src="/images/tux-wolust.jpg" alt="Tux auf einem Biertisch" title="Der Tux ist immer dabei"/>
      <figcaption style="text-align: center;">Tux ist auf dem Tisch</figcaption>
  </figure>
  {% if posts_count > 0 %}
    <div class="posts">
      {% for post in paginator.posts %}
        <div class="post py3">
        <!--  <p class="post-meta">{{ post.date | date: site.date_format }}</p> -->
          <a href="{{ post.url | prepend: site.baseurl }}" class="post-link">
            <h2 class="post-title">{{ post.title }}</h2></a>
            <span class="post-summary">
              {% if post.summary %}
                <p>{{ post.summary }}</br>
                <a href="{{ post.url | prepend: site.baseurl }}">lesen</a></p>
              {% else %}
                <p> {{next.tag}}.{{next.monat}}.{{next.jahr}} {{next.start}} : {{next.ort}} </p>
                <a href="{{ post.url | prepend: site.baseurl }}">lesen</a>
              {% endif %}
            </span>
        </div>
      {% endfor %}
    </div>

    {% include pagination.html %}
  {% else %}
    <h1 class='center'>{{ site.text.index.coming_soon }}</h1>
  {% endif %}
</div>
