---
title: index
layout: default
---

{% assign next = site.data.daten.linuxuser %}
{% assign posts_count = paginator.posts | size %}

<div class="home">
  <div class="well">
  <strong>WOLUST</strong> ist ein Acronym für <strong>Wo</strong>rmser <strong>L</strong>inux <strong>U</strong>ser <strong>S</strong>tamm<strong>t</strong>isch. Die Themen sind meist frei wählbar. Es geht um aktuelle Erfahrungen, beruflich, schulisch oder aus Hobby. Wie alles begann: <a href="/linux_worms">tl;dr</a>.
   <br /> Wenn Dich Linux interessiert, komm vorbei, setz Dich dazu ! <br />
<img style="float: left; padding: 10px;"  src="{{ site.url }}/images/Linux_presentation_day.png" alt="Icon Linux Presentation day" title="Wir sind auf dem Wormser LPD 2024.1"/ />

<div style="clear: right">
Am <b>17.Mai.2024</b> gibts einen <b><a href="https://www.hs-worms.de/lpd-2024-1/" alt="externer Link" title="Geht zur Hochschule Worms">Linux Presentation Day</a> Worms</b><br>
Bisherige <a href="{{ site.url }}/talk/">LPDs</a> mit Wolust. <a href<"https://github.com/Wolust/AI-Promotion/blob/main/Flyer_LPD_2024_1_worms.pdf">Einladung als PDF</a>>
</div>

</div>
   </div>


  <figure id="home_tux">
      <img src="{{ site.url }}/images/tux-wolust.jpg" alt="Tux auf einem Biertisch" title="Der Tux ist immer dabei"/>
      <figcaption style="text-align: center;">Tux ist auf dem Tisch</figcaption>
  </figure>
  {% if posts_count > 0 %}
    <div class="posts">
      {% for post in paginator.posts %}
        <div class="post py3">
        <!--  <p class="post-meta">{{ post.date | date: site.date_format }}</p> -->
          <a href="{{ post.url | prepend: site.baseurl }}" class="post-link">
            <h2 class="post-title">{{ post.title }}</h2></a>
            <span class="post-summary">
              {% if post.summary %}
                <p>{{ post.summary }}</br>
                <a href="{{ post.url | prepend: site.baseurl }}">lesen</a></p>
              {% else %}
                <p> {{next[0].tag}}.{{next[0].monat}}.{{next[0].jahr}} {{next[0].start}} : {{next[0].ort}}
                <br><a href="{{ post.url | prepend: site.baseurl }}">Stadtplan + Info</a>
                </p>
                <p> {{next[1].tag}}.{{next[1].monat}}.{{next[1].jahr}} {{next[1].start}} : {{next[1].ort}} </p>
                <p> {{next[2].tag}}.{{next[2].monat}}.{{next[2].jahr}} {{next[2].start}} : {{next[2].ort}} </p>

              {% endif %}
            </span>
        </div>
      {% endfor %}
    </div>

    {% include pagination.html %}
  {% else %}
    <h1 class='center'>{{ site.text.index.coming_soon }}</h1>
  {% endif %}
  <p>
  </p>

