<footer class="center">
  <div class="measure">
  
 <ul>
    <li>
   <small>
      Gemacht mit &lt;3 von <a href="https://stefan-höhn.de">Stefan Höhn</a> mail: <a href="mailto:wolust@untergang.de">wolust@untergang.de</a>&lt;/&gt;<a href="/datenschutz">Datenschutz</a>
   </small>
   </li>
 </ul>

  </div>
</footer>

<!-- AnchorJS -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/anchor-js/3.0.0/anchor.min.js"></script>
<script>
    anchors.options = {
    visible: 'always',
    placement: 'left',
    left: '0',
    icon: '⚓️'
    };
    anchors.add('.post-content');
</script>
