<footer class="center">
  <div class="measure">
  

   <small>
      Gemacht mit &lt;3 von <a href="https://stefan-höhn.de">Stefan Höhn</a> mail: <a href="mailto:wolust@untergang.de">wolust@untergang.de</a>&lt;/&gt; <a href="/datenschutz">Datenschutz</a> &lt;/&gt; {% github_edit_link "Online Editor" %}
   </small>

  </div>
</footer>

<!-- AnchorJS -->


<script src="https://cdnjs.cloudflare.com/ajax/libs/anchor-js/3.0.0/anchor.min.js"></script>
<script>
    anchors.options = {
    visible: 'always',
    placement: 'right',
    icon: '⚓️'
    };
    anchors.add('.post-content ul');
</script>
<script type="text/javascript">
    if ("serviceWorker" in navigator) {
      navigator.serviceWorker.register("{{ '/sw.js' | relative_url }}")
    }
</script>
