<header class="site-header px2 px-responsive">
<div class="mt2 wrap">
<div class="measure">
<div id="d" class ="small" style="background-color:lightgrey;"><span style="margin-left: 10px;"> Diese Seite benutzt Cookies Info: <a href="/datenschutz">🍪</a></span>
<span style="float:right; margin-right: 10px;"> <a href="#" onclick="document.cookie = 'klicker=Gedruckt; path=/'; change();">ok</a>
</span>
<script>
if (x == 'Gedruckt'){
change();
}
</script>
</div>
       <nav class="site-nav.left">
      <span>
      <a href="{{ site.baseurl }}/">Index</a>
      </span>
      
      <span class="site-nav">
      {% include navigation.html %}
      </span> 
      </nav>          
      <h1 class="site-title">
          <a href="{{ site.baseurl }}/"><img id="logo" src="{{ site.baseurl }}/images/logo.png" alt="Wolust Logo"/>
          {{ site.title }}</a>
      </h1>
      <div class="clearfix"></div>
      {% if site.show_social_icons %}
        {% include social_links.html %}
      {% endif %}
    </div>
  </div>
 </header>
