<header class="site-header px2 px-responsive">
<div class="mt2 wrap">
<div class="measure">
<div id="d" class ="small" style="background-color:lightgrey;"><span style="margin-left: 10px;"> Diese Seite benutzt Cookies Info: <a href="/datenschutz">🍪</a></span>
<span style="float:right; margin-right: 10px;"> <a href="#" onclick="document.cookie = 'klicker=Gedruckt; path=/'; change();">ok</a>
</span>
<script>
if (x == 'Gedruckt'){
change();
}
</script>
</div>
      <a href="{{ site.url }}" class="site-title">{{ site.title }}</a>
      <nav class="site-nav">
        {% include navigation.html %}
      </nav>
      <div class="clearfix"></div>
      {% if site.show_social_icons %}
        {% include social_links.html %}
      {% endif %}
      
      <!-- Place this tag where you want the button to render. -->
<a class="github-button"
   href="{{ https://github.com/:Wolust/:wolust}}"
   title="{{ title }}"
   data-icon="{{ octicon-mark-github }}"
   data-size="{{ small }}"
   data-show-count="{{ true }}"
   data-text="{{ text }}"
   aria-label="{{ aria label }}"
   >{{ text }}</a>
      
    </div>
  </div>
 </header>
