---
---

body {
	font-size: 1em;
	line-height: 1.6em;
}

.site-header .site-nav {
	position: abolsute;
}

h1.site-title {
	font-size: 2em;
	border: 1px solid #000;
	width: 100%;
	text-align: center;
}

h1.site-title a {
	font-size: 1.7em;
	font-weight: bold;
	line-height: 2em;
	padding: 10px;
}

h2 {
	font-size: 1.7em;
}

h2 {
	font-size: 1.3em;
}

.well {
	display: block;
	border: 1px solid #aaa;
	background: #eee;
	padding: 20px;
	margin-bottom: 20px;
}

#home_tux {
	float:right;
	background: #eee;
	border: 1px solid #aaa;
	padding: 10px;
}

.post .py3 {
	margin-top: 0;
	margin-bottom: 10;
	padding-top: 0;
	padding-bottom: 0;
}