:root {
  --ifm-color-primary: #1f2937;
  --ifm-color-primary-dark: #151a25;
  --ifm-font-family-base: "Fira Code", monospace;
  --ifm-navbar-background-color: #0b0d11;
  --ifm-background-color: #0b0d11;
}
